<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Demo of Widom Pet Medicine</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/_styles.css">
    <style>
        body {
            /*padding-top: 50px;*/
            padding-bottom: 20px;
        }
    </style>
    <!-- <link rel="stylesheet" href="css/bootstrap-theme.min.css"> -->
    <!-- <link rel="stylesheet" href="css/_styles.css"> -->

    <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#my-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#feature"><h1>Wisdom <span class="subhead">Pet Medicine</span></h1></a>
          </div>
          <div class="collapse navbar-collapse" id="my-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="#featured">Home</a></li>
              <li><a href="#mission">Mission</a></li>
              <li><a href="#services">Services</a></li>
              <li><a href="#staff">Staff</a></li>
              <li><a href="#testimonials">Testimonials</a></li>
            </ul>
          </div>
          </a>
        </div> <!-- container -->
      </nav>
    </header>

    <div class="carousel slide" data-ride="carousel" id="featured">
      <div class="carousel-inner">
        <div class="item active"><img src="img/carousel-lifestyle.jpg" alt="Lifestyle Photo"></div>
        <div class="item"><img src="img/carousel-mission.jpg" alt="Mission"></div>
        <div class="item"><img src="img/carousel-vaccinations.jpg" alt="Vaccinations"></div>
        <div class="item"><img src="img/carousel-fish.jpg" alt="Fish"></div>
        <div class="item"><img src="img/carousel-exoticanimals.jpg" alt="Exotic Animals"></div>
      </div> <!-- carousel-inner -->

      <a href="#featured" class="left carousel-control" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>  
      </a>
      <a href="#featured" class="right carousel-control" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>  
      </a>
    </div> <!-- featured carousel -->

    <div class="main">
      <div class="page" id="mission">
        <div class="content container">
          <h2>Our Mission</h2>
          <div class="row">
            <div class="col-sm-12">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis quam sapiente incidunt inventore, sed deleniti nostrum. Quos incidunt error a, unde soluta maxime, nihil illo mollitia minus harum, tenetur molestiae?</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut cum officiis voluptates molestias illo ullam aspernatur est laudantium tempora qui natus, perferendis dignissimos, nam reprehenderit aliquam cupiditate, at esse quaerat iusto? Fugiat in ducimus voluptatum!</p>
            </div> <!-- col-sm-12 -->
          </div> <!-- row -->
        </div> <!-- content and container -->
      </div>

      <div class="page" id="services">
        <div class="content container">
          <h2>Services</h2>
          <div class="row">
            <article class="service col-sm-4">
              <img class="icon" src="img/icon-exoticpets.svg" alt="Icon">
              <h3>Exotic Pets</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </article>
            <article class="service col-sm-4">
              <img class="icon" src="img/icon-grooming.svg" alt="Icon">
              <h3>Grooming</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, dicta.</p>
            </article>
            <article class="service col-sm-4">
              <img class="icon" src="img/icon-health.svg" alt="Icon">
              <h3>GeneralHealth</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
            </article>
            <article class="service col-sm-4">
              <img class="icon" src="img/icon-nutrition.svg" alt="Icon">
              <h3>Nutrition</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, nemo!</p>
            </article>
            <article class="service col-sm-4">
              <img class="icon" src="img/icon-pestcontrol.svg" alt="Icon">
              <h3>Pest Control</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, non tempore deserunt recusandae magni, in!</p>
            </article>
            <article class="service col-sm-4">
              <img class="icon" src="img/icon-vaccinations.svg" alt="Icon">
              <h3>Vaccinations</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, non tempore deserunt recusandae magni, in!</p>
            </article>
          </div>
        </div>

      <div class="page" id="Staff">
        <div class="content container">
          <h2>Staff</h2>
          <div class="row">
            <div class="doctor col-sm-4">
              <img src="img/doctor-winthrop.jpg" alt="Photo of Dr Winthrop" class="img-circle icon">
              <h3>Dr. Winthrop</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="dortor col-sm-4">
              <img src="img/doctor-chase.jpg" alt="Photo of Dr Chase" class="img-circle icon">
              <h3>Dr. Chase</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, sunt, dicta nihil esse earum eaque.</p>
            </div>
            <div class="doctor col-sm-4">
              <img src="img/doctor-sanders.jpg" alt="Photo of Dr Sanders" class="img-circle icon">
              <h3>Dr. Sanders</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit aspernatur nesciunt, temporibus ducimus qui dolores consequatur minima, incidunt eaque at.</p>
            </div>
          </div> <!-- row -->
        </div> <!-- container -->
      </div> <!-- page staff -->

      <div class="page" id="Testimonials">
        <div class="container">
          <div class="row">
            
          <h2>Testimonials</h2>
            <blockquote class="col-sm-6" id="janeh">
              <span class="intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, perspiciatis.</span>
              <span class="more">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
              <span class="customer">Jane H.</span>
            </blockquote>
            <blockquote class="col-sm-6">
              <span class="intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur alias deleniti eos tempore aliquam quae.</span>
              <span class="more">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
              <span class="customer">John B</span>
            </blockquote>
            <blockquote class="col-sm-6">
              <span class="intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur alias deleniti eos tempore aliquam quae.</span>
              <span class="more">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
              <span class="customer">Lorraine S</span>
            </blockquote>
          </div> <!-- row -->
        </div> <!-- container -->
      </div> <!-- Testimonials -->
    </div> <!-- main -->

    <footer>
      <div class="container-fluid content">
        <div class="row">
          <div class="col-sm-6">
            <p>Call us toll-free at <span class="phone">089-111-2222</span></p>
            <p>All contents &copy;2014 <a href="#">Lynda.com</a></p>
          </div>
          <div class="col-sm-6">
            <nav class="navbar navbar-default">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Terms of use</a></li>
                <li><a href="#">Privacy policy</a></li>
              </ul>
            </nav>
          </div>
        </div> <!-- row -->
      </div> <!-- container content -->
    </footer>

    <!-- java script initialize from initializr -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.1.min.js"><\/script>')</script>

    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/myscript.js"></script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
  </body>
</html>
