<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Demo of Widom Pet Medicine</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/_styles.css">
    <style>
        body {
            padding-top: 50px;
            padding-bottom: 20px;
        }
    </style>
    <!-- <link rel="stylesheet" href="css/bootstrap-theme.min.css"> -->
    <!-- <link rel="stylesheet" href="css/_styles.css"> -->

    <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
  </head>
  <body>
    <header>
      <nav><a href="#feature">Wisdom <span class="subhead">Pet Medicine</span></a>
          <ul>
            <li><a href="#featured">Home</a></li>
            <li><a href="#mission">Mission</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#staff">Staff</a></li>
            <li><a href="#testimonials">Testimonials</a></li>
          </ul>
        </a></nav>
    </header>

    <div class="carousel">
      <img src="" alt="Lifestyle Photo">
      <img src="" alt="Mission">
      <img src="" alt="Vaccinations">
      <img src="" alt="Fish">
      <img src="" alt="Exotic Animals">
    </div>

    <div class="main">
      <div class="page" id="mission">
        <div class="content container">
          <h2>Our Mission</h2>
          <div class="row">
            <div class="col-sm-12">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis quam sapiente incidunt inventore, sed deleniti nostrum. Quos incidunt error a, unde soluta maxime, nihil illo mollitia minus harum, tenetur molestiae?</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut cum officiis voluptates molestias illo ullam aspernatur est laudantium tempora qui natus, perferendis dignissimos, nam reprehenderit aliquam cupiditate, at esse quaerat iusto? Fugiat in ducimus voluptatum!</p>
            </div> <!-- col-sm-12 -->
          </div> <!-- row -->
        </div> <!-- content and container -->
      </div>

      <div class="page" id="services">
        <div class="content container">
          <h2>Services</h2>
          <div class="row">
            <article class="service col-sm-4">
              <img class="icon" src="img/icon-exoticpets.svg" alt="Icon">
              <h3>Exotic Pets</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </article>
            <article class="service col-sm-4">
              <img class="icon" src="img/icon-grooming.svg" alt="Icon">
              <h3>Grooming</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, dicta.</p>
            </article>
            <article class="service col-sm-4">
              <img class="icon" src="img/icon-health.svg" alt="Icon">
              <h3>GeneralHealth</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
            </article>
            <article class="service col-sm-4">
              <img class="icon" src="img/icon-nutrition.svg" alt="Icon">
              <h3>Nutrition</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, nemo!</p>
            </article>
            <article class="service col-sm-4">
              <img class="icon" src="img/icon-pestcontrol.svg" alt="Icon">
              <h3>Pest Control</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, non tempore deserunt recusandae magni, in!</p>
            </article>
            <article class="service col-sm-4">
              <img class="icon" src="img/icon-vaccinations.svg" alt="Icon">
              <h3>Vaccinations</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, non tempore deserunt recusandae magni, in!</p>
            </article>
          </div>
        </div>
      <h2>Services</h2>

      <div class="page" id="Staff">
        <h2>Staff</h2>      

      </div>

      <div class="page" id="Testimonials">
        <h2>Testimonials</h2>

      </div>
    </div>

    <!-- java script initialize from initializr -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.1.min.js"><\/script>')</script>

    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/myscript.js"></script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
  </body>
</html>
